*{
    font-family: 'Roboto', sans-serif;
}
.title{
    display: flex;
    justify-content: center;
    color: #fe5412;
    background-color: #060212;
}
.navegacion{
    display: flex;
    background-color: #060212;
    padding-bottom: 2%;
}
.enlaces{
    width: 80%;
    padding-top: 1%;
    display: flex;
    justify-content: space-around;
}
.enlaces a{
    text-decoration: none;
    color: #e2585f;
}
.enlaces a:hover{
    color: #c42233;
}
.logout{
    padding-top: 1%;
    width: 20%;
}
.logout button{
    padding: 10px 20px;
    border: none; /* Sin borde */
    border-radius: 5px;
    cursor: pointer;
}

/* PAGINA DE PRODUCTOS */
.lista{
    display: flex;
    justify-content: center;
}
.crear{
    display: flex;
    justify-content: center;
    margin-bottom: 4%;
}
.crear a{
    text-decoration: none;
}
.table {
    width: 80%;
    margin: 0 auto;
    border-collapse: collapse;
}

.table th, .table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.table th {
    background-color: #f2f2f2;
}

.btn-modificar {
    padding: 5px 10px;
    margin-right: 5px;
    border: none;
    background-color: #007bff; /* Azul */
    color: #fff;
    cursor: pointer;
}

.btn-eliminar {
    padding: 5px 10px;
    margin-right: 5px;
    border: none;
    background-color: #dc3545; /* Rojo */
    color: #fff;
    cursor: pointer;
}

.btn-modificar:hover {
    background-color: #0056b3; /* Azul más oscuro al pasar el mouse */
}

.btn-eliminar:hover {
    background-color: #c82333; /* Rojo más oscuro al pasar el mouse */
}


